.overlap {
  z-index: 1;
}

.grid {
  display: grid;
  min-width: 200px;
  grid-template-columns: 250px auto;
  /* grid-template-columns: 2fr 1fr; */
  grid-gap: 10px;
  grid-template-areas:
    "first second";
}

.item-1 {
  background-color: pink;
  display: flex;
  grid-area: first;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.item-2 {
  display: flex;
  grid-area: second;
}





/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
