h1 {
  font-family: 'Carrois Gothic SC', sans-serif;
  color: #f80;
  font-size: 2em;
}

.pb {
  z-index: 0;
  float: bottom;
  align-self: flex-start;
  position: absolute;
  left: 0px;
  bottom: 0px;

  /* background: #F5F5F5 url('./img/dracula-castles.png') no-repeat bottom right; */

}


/* Override Google Map Styles */

.gmnoprint{
  font-size: 1em;
}


.gm-err-container {
  background-color: black;
}
.gm-err-content {

}
.gm-err-title {
  color: orange;

}

.gm-err-message {
  color: orange;
}

.gm-err-icon {

}

.grid {
  display: grid;
  min-width: 200px;
  grid-template-columns: 250px auto;
  /* grid-template-columns: 2fr 1fr; */
  grid-gap: 5px;
  grid-template-areas:
    "first first"
    "second second";
}

.item {
  background-color: #111;
  color: #ace;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.item-1 {
  grid-area: first;
  /*
  grid-area: first;

  justify-content: flex-end;

  z-index: 1; */
}

.item-2 {
  display: flex;
  grid-area: second;
}





.App {
  background-color: grey;
  /* height: 100vh; */
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
