html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #e93;
}

img,
header {
  max-width: 100%;
}

h1 {
  font-family: 'Creepster', cursive;
  color: #e93;
  font-size: 2.3em;
  letter-spacing: 2px;
  margin: 30px;
}

footer {
  z-index: 999;
  letter-spacing: 1px;
}
